* {
    background-color: black;
    color: blanchedalmond;
    font-size: 18px;
}

#cuerpo {
    height: 120px;
    width: 700px;
}

#header {
    height: 30px;
    width: 150px;
    float: left;
    background-color: rgb(24, 31, 51);
    border: solid rgb(182, 177, 177) 1px;
    padding: 4px 0 4px 0;
}

#header p {
    text-align: center;
    margin: 0;
    background-color: rgb(24, 31, 51);
    font-size: 24px;
    font-family: Cambria;
    font-weight: bolder;
}

#desc {
    width: 100%;
    height: 80px;
    float: left;
    border: solid rgb(182, 177, 177) 1px;
    font-size: 24px;
    text-align: left;
    padding: 0px 20px;
}




#img {
    float: left;
    height: 40px;
    width: 40px;
    padding-left: 2px;
    padding-right: 5px;
}

#box {
    border: solid rgb(182, 177, 177) 1px;
}

#img img {
    width: 40px;
}

#temp {
    width: 120px;
}
#temp p {
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
}





