* {
    background-color: black;
    color: blanchedalmond;
    font-size: 18px;
}

#cuerpo {
    height: 120px;
    width: 800px;
}

#header {
    height: 30px;
    width: 240px;
    float: left;
    background-color: rgb(24, 31, 51);
    border: solid rgb(182, 177, 177) 1px;
    padding: 4px 0 4px 0;
}

#header p {
    text-align: center;
    margin: 0;
    background-color: rgb(24, 31, 51);
    font-size: 24px;
    font-family: Cambria;
    font-weight: bolder;
}

#desc {
    width: 100%;
    height: 80px;
    float: left;
    border: solid rgb(182, 177, 177) 1px;
    font-size: 24px;
    text-align: left;
    
}

#icons {
    height: 90%;
    float: left;
    padding: 0 10px 0 10px ;
    border-right: dashed rgb(75, 74, 74) 1px;
}


#img {
    float: left;
    width: 50px;
    margin: 15px 0 15px 0;
}

#info {
    width: 80%;
    padding-left: 20px;
    float: left;
    font-size: 16px;
}

#info p {
    height: 50%;
    font-size: 18px;
    vertical-align: middle;
    margin: 20px 0 10px 0;
}

#box {
    border: solid rgb(182, 177, 177) 1px;
}

#img img {
    width: 100%;
}

#temp {
    width: 120px;
}
#temp p {
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
}





